[submodule "TMCStepper"]
	path = lib/TMCStepper
	url = https://github.com/prusa3d/TMCStepper.git
[submodule "Marlin"]
	path = lib/Marlin
	url = git@github.com:prusa3d/Marlin-Private.git
[submodule "inih"]
	path = lib/inih
	url = https://github.com/benhoyt/inih.git
